<web-app>

  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>HelloWorld.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>HelloServlet.jsp</url-pattern>
  </servlet-mapping>
   
</web-app>
